<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>Rubyist Dictionary</h1>
      <h1>Definiton insertion Form</h1>
      <p>Thank you for helping us update the dictionary</p>
    </div>
  </div>
</div>
<hr>

<form action="/define/<%= @single_word.id()%>/word_define" method="post">
  <label for="define_input">Enter A Definition:</label>
  <input id="define_input" type="text" name="define_input" placeholder="Definition Goes Here">
  <button type="submit" class="btn btn-primary">Add Definition</button>
</form>
