<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>Rubyist Dictionary</h1>
      <h2>The Ultimate Ruby Key Terms Hub</h2>
      <p>Thank you for helping us update the dictionary</p>
    </div>
  </div>
</div>
<hr>

<h1>Your Changes Have Been Saved!</h1>
<a href="/">Home</a><br>
<a href="/">View Words List</a>
<br>
