<h1>Key Term:</h1>
<%=@single_word.word()%>
<br>
<br>
<h1>Definition:</h1>

<a href="/definition/new">Add A Definition</a><br>
<a href="/definition/new">Add an Additional Definition </a><br>
<a href="/">Home</a>
