<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>Rubyist Dictionary</h1>
      <h1>Word insertion Form</h1>
      <p>Thank you for helping us update the dictionary</p>
    </div>
  </div>
</div>
<hr>

<form action="/words" method="post">
  <label for="word_input">Enter the word:</label>
  <input id="word_input" type="text" name="word_input" placeholder="Enter a ruby term">
  <button type="submit" class="btn">Add Word</button>
</form>
