<form action="/words" method="post">
  <label for="word_input"></label>
  <input id="word_input" type="text" name="word_input" placeholder="Enter a ruby term">
  <button type="submit" class="btn">Add Word</button>
</form>
