<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>Rubyist Dictionary</h1>
      <h2>The Ultimate Ruby Key Terms Hub</h2>
      <p>Thank you for helping us update the dictionary</p>
    </div>
  </div>
</div>
<hr>

<h1>The Reserved Key Word:</h1>
<%=@single_word.word()%>
<br>
<br>
<h1>The Definition is:</h1>
<ul>
  <% @single_word.definitions.each do |definition| %>
    <li><%= definition.meaning %></li>
  <% end %>
</ul>

<a href="/define/<%= @single_word.id()%>/form_definition">Add a Definition </a><br>
<a href="/">Home</a>
